<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineShop</display-name>
  <servlet>
    <servlet-name>GuestDownload</servlet-name>
    <servlet-class>com.servlet.guestoper.GuestDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestDownload</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestLoginUp</servlet-name>
    <servlet-class>com.servlet.guestoper.GuestLoginUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestLoginUp</servlet-name>
    <url-pattern>/guestloginup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.servlet.guestoper.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddShoppingList</servlet-name>
    <servlet-class>com.servlet.guestoper.AddShoppingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShoppingList</servlet-name>
    <url-pattern>/addshoppinglist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDownload</servlet-name>
    <servlet-class>com.servlet.adminoper.AdminDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDownload</servlet-name>
    <url-pattern>/admindownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin3</servlet-name>
    <servlet-class>com.servlet.adminoper.AdminLogin3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin3</servlet-name>
    <url-pattern>/adminloginup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestQueryName</servlet-name>
    <servlet-class>com.servlet.guestoper.GuestQueryName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestQueryName</servlet-name>
    <url-pattern>/querynameguest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminQueryName1</servlet-name>
    <servlet-class>com.servlet.adminoper.AdminQueryName1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryName1</servlet-name>
    <url-pattern>/querynameadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminQueryList1</servlet-name>
    <servlet-class>com.servlet.adminoper.AdminQueryList1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryList1</servlet-name>
    <url-pattern>/querynamelist</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.servlet.guestoper.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>