/*

*/

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}




@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.ribbon{width: 1008px}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#logo{padding-top: 35px;}
	#logo .and {font-size: 50px;}
	#logo .name {font-size: 37px;letter-spacing: 4px;;margin: 0 12px;}
	#logo .name span {display: block;font-size: 27px;}
	.ribbon{width: 815px}
	
}

@media only screen and (max-width: 767px) {
	#logo{padding: 30px 0;}
	#logo .and {font-size: 46px;}
	#logo .name {font-size: 33px;letter-spacing: 3px;;margin: 0 9px;}
	#logo .name span {display: block;font-size: 24px;margin-top: 4px;}
	.ribbon{display: none;}
	.content-box.box-1 .box-item , .content-box.box-1 .info {text-align: center;}
}
@media(max-width:740px) {
	.content-box.box-1 .box-item{margin-bottom: 145px;}
}
@media(max-width:540px) {
	#logo{padding: 30px 0;}
	#logo .and {font-size: 40px;}
	#logo .name {font-size: 21px;letter-spacing: 3px;;margin: 0 9px;}
	#logo .name span {display: block;font-size: 18px;margin-top: 4px;}
}


@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 22px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
		margin-left: 10px;
		font-size:34px;
		line-height: 1.1;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}